@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #080808;
    color: #ffffff;
}

html {
    background-color: #080808;
    overscroll-behavior: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #080808;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

@media (pointer: fine) {

    *,
    *::before,
    *::after {
        cursor: none !important;
    }
}

iframe {
    cursor: auto !important;
}

@font-face {
    font-family: 'Manrope';
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-display: swap;
}